torch>=2.0.1
torchvision>=0.15.2
lightning>=2.0.2
torchmetrics>=0.11.4
unidecode
inflect
matplotlib
scipy
pillow
einops
g2p-en
validators
onnx
onnxruntime
protobuf==3.20.2
numpy==1.23.5
# needed for data preparation
librosa
unidecode
inflect
tgt
pyworld
# for audio playback
sounddevice
# sudo apt-get install portaudio19-dev

